<template>
  <article
    id="others"
    class="min-vh-100 pe-0 bg-purple text-dark d-flex align-items-center positon-relative"
  >
    <article class="ps-md-4 ps-5 pe-2 w-100">
      <section class="col-xxl-6 col-lg-8 col-md-10 col-12">
        <h3>{{ t("others.languages") }}</h3>
        <p>{{ t("others.language_details") }}</p>

        <h3 class="mt-4">{{ t("others.education") }}</h3>
        <p>{{ t("others.education_details") }}</p>

        <BaseButton
          class="my-3 fw-bold w-auto"
          :label="getLabel()"
          @click="downloadCV"
        />
      </section>
    </article>

    <article class="h-100">
      <svg
        ref="OtherWavesSvg"
        class="h-100"
        viewBox="0 0 120 400"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_0_1)">
          <path
            id="path1"
            d="M12.0272 309.584C-2.68886 348.034 -2.78798 367.852 12.0272 400H120L120 0H12.0272C-6.43935 42.333 -2.4827 93.9236 16.0079 138.776C36.1684 214.524 51.2979 229.248 12.0272 309.584Z"
            fill="url(#paint0_radial_0_1)"
          />
          <path
            id="path2"
            d="M120 400H21.1907C35.3691 350.285 38.1462 325.09 12.9911 266.987C-5.01615 216.613 -3.63073 192.63 12.9911 155.102C40.0916 90.9873 45.1108 52.5006 21.1907 0H120L120 400Z"
            fill="url(#paint1_radial_0_1)"
          />
          <path
            id="path3"
            d="M1.38163 334.5C4.10975 355.078 40.0936 374.329 37.5447 400H86.8118H120L120 0H21.0246C19.7708 13.7758 49.5484 21.1368 52.1323 51C58.6293 75.5373 26.9594 87.0764 16.2432 114.5C10.3547 141.627 36.3749 172.53 47.9477 207.5C53.9151 237.272 48.2953 240.228 37.5446 270C30.6822 299.018 -7.69739 305.482 1.38163 334.5Z"
            fill="url(#paint2_linear_0_1)"
          />
        </g>
        <defs>
          <radialGradient
            id="paint0_radial_0_1"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(-3.12777e-06 200) scale(120 202.815)"
          >
            <stop stop-color="#00FFFF" />
            <stop offset="1" stop-color="#FE8FF3" />
          </radialGradient>
          <radialGradient
            id="paint1_radial_0_1"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(-3.1049e-06 200) scale(120 429.337)"
          >
            <stop stop-color="#FDC269" />
            <stop offset="0.51875" stop-color="#FE8FF3" />
            <stop offset="1" stop-color="#59F3EA" />
          </radialGradient>
          <linearGradient
            id="paint2_linear_0_1"
            x1="0"
            y1="200"
            x2="120"
            y2="200.119"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#59F3EA" />
            <stop offset="1" stop-color="#E869FD" />
          </linearGradient>
          <clipPath id="clip0_0_1">
            <rect
              width="400"
              height="120"
              fill="white"
              transform="matrix(0 -1 1 0 0 400)"
            />
          </clipPath>
        </defs>
      </svg>
    </article>
  </article>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { BaseButton } from "../base/base";
import { useI18n } from "vue-i18n";

onMounted(() => {
  setSvgHeight();
});

const { t } = useI18n();
let OtherWavesSvg = ref();

const getLabel = () => t("others.downloadCVLabel");

const downloadCV = () => {
  //download CV
};
</script>
