@keyframes main {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes wave2 {
  0%,
  100% {
    d: path(
      "M763.725 966.242C481.725 436.742 217.325 820.241 233.725 472.241C326.414 211.758 834.225 630.242 744.225 174.242C654.225 -281.758 1514.72 435.241 1172.22 472.241C829.725 509.242 1045.72 1495.74 763.725 966.242Z"
    );
  }

  33.33333333% {
    d: path(
      "M763.725 966.242C284.531 869.508 -74.9999 484 233.725 472.241C542.45 460.483 280.481 153.246 744.225 174.242C1207.97 195.238 1470.73 411.603 1172.22 472.241C873.724 532.88 1242.92 1062.98 763.725 966.242Z"
    );
  }

  66.66666666% {
    d: path(
      "M763.726 966.242C328.834 728.816 435.468 1396.78 233.725 472.241C59.916 -234.982 520.683 382.101 744.226 174.242C967.768 -33.6176 833.95 733.482 1172.23 472.241C1510.5 211 1198.62 1203.67 763.726 966.242Z"
    );
  }
}
