@keyframes path1 {
  0%,
  100% {
    d: path(
      "M12.0272 309.584C-2.68886 348.034 -2.78798 367.852 12.0272 400H120L120 0H12.0272C-6.43935 42.333 -2.4827 93.9236 16.0079 138.776C36.1684 214.524 51.2979 229.248 12.0272 309.584Z"
    );
  }

  33.33333333% {
    d: path(
      "M3.40087 311C-9.07825 349.45 15.8765 367.852 28.4397 400H120L120 0H3.40084C-12.2587 42.333 77.1843 103.648 92.8643 148.5C109.96 224.248 36.7022 230.664 3.40087 311Z"
    );
  }

  66.66666666% {
    d: path(
      "M33.3545 311C24.0812 349.45 42.6252 367.852 51.961 400H120L120 0H33.3545C21.7178 42.333 -9.06274 91.648 2.5891 136.5C15.2933 212.248 58.101 230.664 33.3545 311Z"
    );
  }
}

@keyframes path2 {
  0%,
  100% {
    d: path(
      "M120 400H21.1907C35.3691 350.285 38.1462 325.09 12.9911 266.987C-5.01615 216.613 -3.63073 192.63 12.9911 155.102C40.0916 90.9873 45.1108 52.5006 21.1907 0H120L120 400Z"
    );
  }

  33.33333333% {
    d: path(
      "M120 400H2.29225C12.5941 350.285 60.5256 325.09 42.2481 266.987C29.1642 216.613 -9.78503 175.028 2.29225 137.5C21.9833 73.3852 65.5861 52.5006 48.2059 0H120L120 400Z"
    );
  }

  66.66666666% {
    d: path(
      "M120 400H85.5712C70.4122 375.5 9.83206 326.603 0.439949 268.5C-6.28338 218.126 66.1746 154.028 72.3807 116.5C82.4992 52.3852 92.0387 52.5006 83.1077 0H120L120 400Z"
    );
  }
}

@keyframes path3 {
  0%,
  100% {
    d: path(
      "M1.38163 334.5C4.10975 355.078 40.0936 374.329 37.5447 400H86.8118H120L120 0H21.0246C19.7708 13.7758 49.5484 21.1368 52.1323 51C58.6293 75.5373 26.9594 87.0764 16.2432 114.5C10.3547 141.627 36.3749 172.53 47.9477 207.5C53.9151 237.272 48.2953 240.228 37.5446 270C30.6822 299.018 -7.69739 305.482 1.38163 334.5Z"
    );
  }

  33.33333333% {
    d: path(
      "M0.73789 350C3.49143 370.578 29.4373 374.329 26.8647 400H86.5026H120L120 0H41.9262C40.6608 13.7758 17.4945 43.1368 20.1024 73C26.66 97.5373 63.8213 86.9311 53.0052 114.355C47.0619 141.482 12.1104 163.53 23.7909 198.5C29.814 228.272 88.4328 247.728 77.582 277.5C70.6556 306.518 -8.42571 320.982 0.73789 350Z"
    );
  }

  66.66666666% {
    d: path(
      "M9.4869 350C12.0384 370.578 2.38389 374.329 0 400H88.96H120L120 0H4.63329C3.46067 13.7758 25.0142 43.1368 27.4309 73C33.5074 97.5373 67.9426 86.9311 57.9199 114.355C52.4126 141.482 92.9601 162.03 103.784 197C109.365 226.772 90.7486 247.728 80.6938 277.5C74.2755 306.518 0.995532 320.982 9.4869 350Z"
    );
  }
}
