<template>
  <section
    class="welcome-box min-vh-100 text-dark d-flex justify-content-center align-items-center flex-column overflow-hidden position-fixed pt-header z-index-50"
  >
    <h3 class="welcome d-flex fw-bold position-absolute text-blue fs-gigant">
      WEL
      <p class="welcome-letter">C</p>
      OME!
    </h3>
  </section>
</template>
