<template>
  <article
    ref="skillsButton"
    class="nav position-fixed flex-row nav-pills me-sm-3 me-2 position-absolute top-0 mt-3 start-0 ms-3 z-index-50"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="btn bg-transparent text-light skill shadow-light-sm rounded-0 active"
      id="v-pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-home"
      type="button"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
    >
      {{ t("skills.skills") }}
    </button>
    <button
      class="btn bg-transparent text-light skill shadow-light-sm rounded-0"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      Others
    </button>
  </article>

  <article
    ref="skills"
    class="w-100 h-100 position-fixed text-light z-index-25 d-flex align-items-center"
  >
    <article
      class="d-flex justify-content-center w-100 h-100 align-items-center position-relative"
    >
      <article
        class="tab-content col-xxl-6 col-lg-8 col-md-10 col-11"
        id="v-pills-tabContent"
      >
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
          tabindex="0"
        >
          <section class="w-100">
            <header>
              <h1 class="mb-sm-4 mb-2">{{ t("skills.skills") }}</h1>
            </header>

            <main>
              <ul class="p-0">
                <article class="mb-3">
                  {{ t("skills.skill_detail_1") }} |
                  {{ t("skills.skill_detail_2") }} |
                  {{ t("skills.skill_detail_3") }} |
                  {{ t("skills.skill_detail_4") }} |
                  {{ t("skills.skill_detail_5") }} |
                  {{ t("skills.skill_detail_6") }} |
                  {{ t("skills.skill_detail_7") }} |
                  {{ t("skills.skill_detail_8") }} |
                  {{ t("skills.skill_detail_9") }} |
                  {{ t("skills.skill_detail_10") }} |
                  {{ t("skills.skill_detail_11") }} |
                  {{ t("skills.skill_detail_12") }} |
                  {{ t("skills.skill_detail_13") }} |
                  {{ t("skills.skill_detail_14") }} |
                  {{ t("skills.skill_detail_15") }}
                </article>

                <li class="list list-unstyled">
                  <article class="row g-md-3 g-sm-2 g-1">
                    <article
                      class="text-center col-sm-4 col-4"
                      v-for="skill in SKILLS"
                      :key="skill.id"
                    >
                      <article class="skill py-2 shadow">
                        <img
                          :src="skill.src"
                          class="img-top p-2"
                          :alt="skill.alt"
                          height="55"
                          width="55"
                        />

                        <h6>{{ skill.title }}</h6>
                      </article>
                    </article>
                  </article>
                </li>
              </ul>
            </main>
          </section>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
          tabindex="0"
        >
          <section class="w-100">
            <h3>{{ t("others.languages") }}</h3>
            <p>{{ t("others.language_details") }}</p>

            <h3 class="mt-4">{{ t("others.education") }}</h3>
            <p>{{ t("others.education_details") }}</p>

            <BaseButton
              class="my-3 fw-bold w-auto"
              :label="getLabel()"
              @click="downloadCV"
            />
          </section>
        </div>
      </article>
    </article>
  </article>
</template>

<script setup>
import { ref, watchEffect } from "vue";
import { BaseButton } from "../base/base";
import { useI18n } from "vue-i18n";
import { getScreenPixelsByPercentage } from "../../shared/helpers/screenPixels";
import { SKILLS } from "../../common/constants/skills";

const emit = defineEmits(["setCameraPosition", "setCameraRotation"]);
const props = defineProps({
  scrollYPixels: Number,
  getOpacityPercentage: Function,
});

const { t } = useI18n();

const skills = ref(null);
const skillsButton = ref(null);

const getLabel = () => t("others.downloadCVLabel");
const downloadCV = () => {};

const emitPosition = (x, y, z) => {
  emit("setCameraPosition", x, y, z);
};

const emitRotation = (x, y, z) => {
  emit("setCameraRotation", x, y, z);
};

watchEffect(() => {
  const newPosition = { x: 32, y: 38, z: -29.6 };
  const newRotation = { x: 0.1, y: -Math.PI / 2, z: 0 };

  const limitPercentage = 500;
  const limitPixels = getScreenPixelsByPercentage(limitPercentage);

  if (props.scrollYPixels > limitPixels) {
    emitPosition(newPosition.x, newPosition.y, newPosition.z);
    emitRotation(newRotation.x, newRotation.y, 0);
  }

  if (skills.value) {
    const startPercentage = 475;
    const limitPercentage = 600;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 500;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = -props.scrollYPixels + startPixels + 200;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      skills.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove >= 0) {
        skills.value.style.transform = `translateY(${pixelsToMove}px)`;
      }

      if (pixelsToMove < 0) {
        skills.value.style.transform = `translateY(0px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
    } else {
      skills.value.style.opacity = `0`;
      skills.value.style.transform = `translateY(200px)`;
    }
  }

  if (skillsButton.value) {
    const startPercentage = 475;
    const limitPercentage = 600;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 500;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = props.scrollYPixels - startPixels - 50;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      skillsButton.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove <= 0) {
        skillsButton.value.style.transform = `translateY(${pixelsToMove}px)`;
      }

      if (pixelsToMove > 0) {
        skillsButton.value.style.transform = `translateY(0px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
    } else {
      skillsButton.value.style.opacity = `0`;
      skillsButton.value.style.transform = `translateY(${-50}px)`;
    }
  }
});
</script>
