<template>
  <article
    ref="about"
    class="w-100 h-100 position-fixed z-index-25 d-flex align-items-center justify-content-center flex-column"
  >
    <section class="col-xxl-6 col-lg-8 col-10 text-light">
      <h1 class="fw-bold">EDWIN DANIEL LANDEROS SIERRA</h1>

      <p>{{ t("about.mainInfo") }}</p>

      <h4>{{ t("about.otherThings") }}</h4>

      <ul class="d-flex flex-column mb-0">
        <li>{{ t("about.thing1") }}</li>
        <li>{{ t("about.thing2") }}</li>
        <li>{{ t("about.thing3") }}</li>
        <li>{{ t("about.thing4") }}</li>
        <li>{{ t("about.thing5") }}</li>
      </ul>
    </section>
  </article>
</template>

<script setup>
import { useI18n } from "vue-i18n";
import { ref, watchEffect } from "vue";
import { getScreenPixelsByPercentage } from "../../shared/helpers/screenPixels";

const emit = defineEmits(["setCameraPosition", "setCameraRotation"]);
const props = defineProps({
  scrollYPixels: Number,
  getOpacityPercentage: Function,
});

const { t } = useI18n();
const about = ref(null);

const emitPosition = (x, y, z) => {
  emit("setCameraPosition", x, y, z);
};

const emitRotation = (x, y, z) => {
  emit("setCameraRotation", x, y, z);
};

watchEffect(() => {
  const startPercentage = 200;
  const limitPercentage = 300;
  const startPixels = getScreenPixelsByPercentage(startPercentage);
  const limitPixels = getScreenPixelsByPercentage(limitPercentage);

  if (props.scrollYPixels > startPixels && props.scrollYPixels <= limitPixels) {
    const scrollPercentageReverse = props.getOpacityPercentage(
      startPercentage,
      limitPercentage
    );
    const scrolledPercentage = (1 - scrollPercentageReverse) * 100;

    const oldPosition = { x: 10, y: 34.5, z: 54.95 };
    const oldRotation = { x: 0, y: 0, z: -Math.PI / 2 };

    const newPosition = { x: -19.03, y: 19, z: -42 };
    const newRotation = { x: -0.1, y: 0, z: 0 };

    // camera.position.set(-19.03, 19, -42);
    // camera.rotation.set(-0.1, 0, 0);

    const totalXPositionToMove = (oldPosition.x - newPosition.x) / 100;
    const XPositionToMove = scrolledPercentage * totalXPositionToMove;
    const XPosition = oldPosition.x - XPositionToMove;

    const totalYPositionToMove = (oldPosition.y - newPosition.y) / 100;
    const YPositionToMove = scrolledPercentage * totalYPositionToMove;
    const YPosition = oldPosition.y - YPositionToMove;

    const totalZPositionToMove = (oldPosition.z - newPosition.z) / 100;
    const ZPositionToMove = scrolledPercentage * totalZPositionToMove;
    const ZPosition = oldPosition.z - ZPositionToMove;

    emitPosition(XPosition, YPosition, ZPosition);

    const totalXRotationToMove = (oldRotation.x - newRotation.x) / 100;
    const XRotationToMove = scrolledPercentage * totalXRotationToMove;
    const XRotation = oldRotation.x - XRotationToMove;

    const totalZRotationToMove = (oldRotation.z - newRotation.z) / 100;
    const ZRotationToMove = scrolledPercentage * totalZRotationToMove;
    const ZRotation = oldRotation.z - ZRotationToMove;

    emitRotation(XRotation, 0, ZRotation);
  }

  const limitPercentage2 = 100;
  const limitPixels2 = getScreenPixelsByPercentage(limitPercentage2);
  if (
    props.scrollYPixels > limitPixels2 &&
    props.scrollYPixels <= startPixels
  ) {
    emitPosition(10, 34.5, 54.95);
    emitRotation(0, 0, -Math.PI / 2);
  }

  if (about.value) {
    const startPercentage = 75;
    const limitPercentage = 200;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 100;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = props.scrollYPixels - startPixels - 200;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      about.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove > 0) {
        about.value.style.transform = `translateX(0px)`;
      } else {
        about.value.style.transform = `translateX(${pixelsToMove}px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
      about.value.style.opacity = `0`;
    } else {
      about.value.style.opacity = `0`;
      about.value.style.transform = `translateX(0px)`;
    }
  }
});
</script>
