<template>
  <main class="p-0 height">
    <!-- @mousemove="setMousePosition" -->
    <!-- <Cursor ref="CursorComponent" /> -->

    <Home
      v-if="scrollY <= getScreenPixelsByPercentage(100)"
      :scrollYPixels="scrollY"
      :getOpacityPercentage="getOpacityPercentage"
      @setCameraPosition="setCameraPosition"
      @setCameraRotation="setCameraRotation"
    />

    <About
      v-if="
        scrollY >= getScreenPixelsByPercentage(75) &&
        scrollY <= getScreenPixelsByPercentage(300)
      "
      :scrollYPixels="scrollY"
      :getOpacityPercentage="getOpacityPercentage"
      @setCameraPosition="setCameraPosition"
      @setCameraRotation="setCameraRotation"
    />

    <Experience
      v-if="
        scrollY >= getScreenPixelsByPercentage(275) &&
        scrollY <= getScreenPixelsByPercentage(500)
      "
      :scrollYPixels="scrollY"
      :getOpacityPercentage="getOpacityPercentage"
      @setCameraPosition="setCameraPosition"
      @setCameraRotation="setCameraRotation"
    />

    <Skills
      v-if="
        scrollY >= getScreenPixelsByPercentage(475) &&
        scrollY <= getScreenPixelsByPercentage(600)
      "
      :scrollYPixels="scrollY"
      :getOpacityPercentage="getOpacityPercentage"
      @setCameraPosition="setCameraPosition"
      @setCameraRotation="setCameraRotation"
    />

    <Contact />

    <article class="position-fixed height-100 w-100">
      <article id="room" class="p-0 height-100"></article>
    </article>
  </main>
</template>

<script setup>
import { ref, onMounted } from "vue";
import * as THREE from "three";
// import { OrbitControls } from "three/addons/controls/OrbitControls.js";
import {
  getScene,
  getCamera,
  getRenderer,
  getCSS3DRenderer,
} from "../shared/helpers/threejs";
import { RectAreaLightUniformsLib } from "three/addons/lights/RectAreaLightUniformsLib.js";
import { getScreenPixelsByPercentage } from "../shared/helpers/screenPixels";
import { CSS3DObject } from "three/addons/renderers/CSS3DRenderer.js";
import { getExperienceContent } from "../components/experience/content";

import {
  drawWalls,
  drawDesk,
  drawShelf,
  drawBed,
  drawScreen,
  drawKeyboard,
  drawLamp,
  drawTrashcan,
  drawPainting,
  drawLights,
} from "./threejs/draws";
import Home from "../components/home/Home.vue";
import About from "../components/about/About.vue";
import Experience from "../components/experience/Experience.vue";
import Skills from "../components/skills/Skills.vue";
import Contact from "../components/contact/Contact.vue";

onMounted(() => {
  window.addEventListener("scroll", updateScroll);

  cssRenderer = getCSS3DRenderer();
  renderer = getRenderer();
  camera = getCamera();
  scene = getScene();

  renderCube();
});

const scrollY = ref(0);
const CursorComponent = ref(null);
let cssRenderer = null;
let renderer = null;
let camera = null;
let scene = null;

const updateScroll = () => {
  scrollY.value = window.scrollY;
};

const renderCube = () => {
  //--
  // const controls = new OrbitControls(camera, renderer.domElement);
  // controls.update();
  // controls.rotateSpeed = 0.4;

  // const controls2 = new OrbitControls(camera, cssRenderer.domElement);
  // controls2.update();
  // controls2.rotateSpeed = 0.4;
  //--

  const { animateLights, groupLights } = drawLights();

  // const content = getExperienceContent();
  // const articleCSSObject = new CSS3DObject(content);
  // articleCSSObject.position.set(-19.03, 18, -46.25);
  // articleCSSObject.rotation.set(-0.1, 0, 0);
  // articleCSSObject.scale.set(0.01, 0.01, 0.01);

  const scene2 = new THREE.Scene();
  // scene2.add(articleCSSObject);

  const animate = () => {
    requestAnimationFrame(animate);

    //--
    // controls.update();
    // controls2.update();
    //--

    animateLights();

    cssRenderer.render(scene2, camera);
    renderer.render(scene, camera);
  };

  RectAreaLightUniformsLib.init();

  const groupWalls = drawWalls();
  const groupShelf = drawShelf();
  const groupDesk = drawDesk();
  const groupBed = drawBed();
  const groupTrashcan = drawTrashcan();
  const groupScreen = drawScreen();
  const groupKeyboard = drawKeyboard();
  const groupLamp = drawLamp();
  const groupPainting = drawPainting();

  scene.add(
    groupWalls,
    groupShelf,
    groupDesk,
    groupBed,
    groupScreen,
    groupKeyboard,
    groupLamp,
    groupLights,
    groupTrashcan,
    groupPainting
  );

  animate();

  window.addEventListener("resize", onWindowResize);
};

function onWindowResize() {
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();

  renderer.setSize(window.innerWidth, window.innerHeight);
}

const getScrolledPercentage = () => {
  if (!window.innerHeight) return;

  const percentage = (scrollY.value / window.innerHeight) * 100;

  return percentage;
};

const getOpacityPercentage = (startPercentage, limitPercentage) => {
  const percentage =
    -(
      (getScrolledPercentage() - startPercentage) /
      (limitPercentage - startPercentage)
    ) + 1;

  return percentage;
};

const setCameraPosition = (x, y, z) => {
  if (!camera) return;

  camera.position.set(x, y, z);
};

const setCameraRotation = (x, y, z) => {
  if (!camera) return;

  camera.rotation.set(x, y, z);
};

const setMousePosition = (event) => {
  CursorComponent.value.setPosition(event);
};
</script>

<style>
.height {
  height: 600dvh;
}
</style>
