<template>
  <button
    class="btn btn-light w-100 rounded-0 border-0 shadow-dark-sm"
    :type="type"
    @click="click"
  >
    {{ label }}
  </button>
</template>

<script setup>
defineProps(["type", "label"]);
const emit = defineEmits(["click"]);

const click = () => {
  emit("click");
};
</script>
