<template>
  <div class="input-group mb-3 shadow-dark-sm">
    <textarea
      v-if="textarea"
      :name="placeholder"
      class="form-control rounded-0 rezise-none "
      :aria-label="placeholder"
      :placeholder="placeholder"
      :v-modal="value"
      @input="setSelected"
      >{{ value }}</textarea
    >

    <input
      v-else
      :name="placeholder"
      :type="type"
      class="form-control rounded-0"
      :placeholder="placeholder"
      :aria-label="placeholder"
      :aria-describedby="placeholder"
      :value="value"
      :v-modal="value"
      :autocomplete="autocomplete"
      @input="setSelected"
    />

    <span v-if="icon" class="input-group-text rounded-0">
      <i :class="icon"></i>
    </span>
  </div>
</template>

<script setup>
defineProps([
  "placeholder",
  "type",
  "icon",
  "value",
  "textarea",
  "autocomplete",
]);
const emit = defineEmits(["input", "update:value"]);

const setSelected = ({ target }) => {
  emit("input", target.value);
  emit("update:value", target.value);
};
</script>
