<template>
  <article
    class="w-100 h-100 z-index-25 text-center position-fixed d-flex align-items-center justify-content-center flex-column"
  >
    <h1 class="fs-gigant text-light fw-bold mb-0">
      <p ref="firstName" class="mb-0">EDWIN</p>
      <p ref="secondName" class="mb-0">SIERRA</p>
      <p ref="webName" class="mb-0">WEB</p>
    </h1>

    <article>
      <h3 ref="jobName" class="text-light fw-bold m-0">Web developer</h3>
    </article>
    <!-- <svg
  
        class="wave1SVG w-100 h-100 position-absolute"
        viewBox="0 0 1380 1147"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="wave2"
          d="M530.725 943.242C248.725 413.742 -15.675 797.241 0.725008 449.241C93.414 188.758 601.225 607.242 511.225 151.242C421.225 -304.758 1281.72 412.241 939.22 449.241C596.725 486.242 812.72 1472.74 530.725 943.242Z"
          fill="url(#paint0_linear_0_4)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_0_4"
            x1="510.098"
            y1="1.92662e-05"
            x2="510.098"
            y2="1099.09"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#14FFE3" />
            <stop offset="1" stop-color="#FF87F3" />
          </linearGradient>
        </defs>
      </svg> -->
  </article>
</template>

<script setup>
import { ref, watchEffect } from "vue";
import { getScreenPixelsByPercentage } from "../../shared/helpers/screenPixels";

const emit = defineEmits(["setCameraPosition", "setCameraRotation"]);
const props = defineProps({
  scrollYPixels: Number,
  getOpacityPercentage: Function,
});

const firstName = ref(null);
const secondName = ref(null);
const webName = ref(null);
const jobName = ref(null);

const emitPosition = (x, y, z) => {
  emit("setCameraPosition", x, y, z);
};

const emitRotation = (x, y, z) => {
  emit("setCameraRotation", x, y, z);
};

watchEffect(() => {
  const oldPosition = { x: -85, y: 20, z: 0 };
  const oldRotation = { x: 0, y: -Math.PI / 2, z: 0 };

  const newPosition = { x: 10, y: 34.5, z: 54.95 };
  const newRotation = { x: 0, y: 0, z: -Math.PI / 2 };

  // camera.position.set(10, 34.5, 54.95);
  // camera.rotation.set(0, 0, -Math.PI / 2);

  const startPercentage1 = 9;
  const startPixels1 = getScreenPixelsByPercentage(startPercentage1);
  if (props.scrollYPixels < startPixels1) {
    emitPosition(oldPosition.x, oldPosition.y, oldPosition.z);
    emitRotation(oldRotation.x, oldRotation.y, oldRotation.z);
  }

  const startPercentage2 = 9;
  const limitPercentage2 = 100;
  const startPixels2 = getScreenPixelsByPercentage(startPercentage2);
  const limitPixels2 = getScreenPixelsByPercentage(limitPercentage2);

  if (
    props.scrollYPixels >= startPixels2 &&
    props.scrollYPixels <= limitPixels2
  ) {
    const scrollPercentageReverse = props.getOpacityPercentage(
      startPercentage2,
      limitPercentage2
    );

    const scrolledPercentage = (1 - scrollPercentageReverse) * 100;

    const totalXPositionToMove = (oldPosition.x - newPosition.x) / 100;
    const XPositionToMove = scrolledPercentage * totalXPositionToMove;
    const XPosition = oldPosition.x - XPositionToMove;

    const totalYPositionToMove = (oldPosition.y - newPosition.y) / 100;
    const YPositionToMove = scrolledPercentage * totalYPositionToMove;
    const YPosition = oldPosition.y - YPositionToMove;

    const totalZPositionToMove = (oldPosition.z - newPosition.z) / 100;
    const ZPositionToMove = scrolledPercentage * totalZPositionToMove;
    const ZPosition = oldPosition.z - ZPositionToMove;

    emitPosition(XPosition, YPosition, ZPosition);

    const totalYRotationToMove = (oldRotation.y - newRotation.y) / 100;
    const YRotationToMove = scrolledPercentage * totalYRotationToMove;
    const YRotation = oldRotation.y - YRotationToMove;

    const totalZRotationToMove = (oldRotation.z - newRotation.z) / 100;
    const ZRotationToMove = scrolledPercentage * totalZRotationToMove;
    const ZRotation = oldRotation.z - ZRotationToMove;

    emitRotation(0, YRotation, ZRotation);
  }

  if (firstName.value) {
    const startPercentage = 3;
    const limitPercentage = 90;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = -props.scrollYPixels + startPixels;
      const opacityPercentage = props.getOpacityPercentage(
        startPercentage,
        limitPercentage
      );

      firstName.value.style.opacity = `${opacityPercentage}`;
      firstName.value.style.transform = `translateX(${pixelsToMove}px)`;
    } else if (props.scrollYPixels > limitPixels) {
      firstName.value.style.opacity = `0`;
    } else {
      firstName.value.style.opacity = `1`;
      firstName.value.style.transform = `translateX(0px)`;
    }
  }

  if (secondName.value) {
    const startPercentage = 6;
    const limitPercentage = 95;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = props.scrollYPixels - startPixels;
      const opacityPercentage = props.getOpacityPercentage(
        startPercentage,
        limitPercentage
      );

      secondName.value.style.opacity = `${opacityPercentage}`;
      secondName.value.style.transform = `translateX(${pixelsToMove}px)`;
    } else if (props.scrollYPixels > limitPixels) {
      secondName.value.style.opacity = `0`;
    } else {
      secondName.value.style.opacity = `1`;
      secondName.value.style.transform = `translateX(0px)`;
    }
  }

  if (webName.value) {
    const startPercentage = 9;
    const limitPercentage = 100;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = -props.scrollYPixels + startPixels;
      const opacityPercentage = props.getOpacityPercentage(
        startPercentage,
        limitPercentage
      );

      webName.value.style.opacity = `${opacityPercentage}`;
      webName.value.style.transform = `translateX(${pixelsToMove}px)`;
    } else if (props.scrollYPixels > limitPixels) {
      webName.value.style.opacity = `0`;
    } else {
      webName.value.style.opacity = `1`;
      webName.value.style.transform = `translateX(0px)`;
    }
  }

  if (jobName.value) {
    const startPercentage = 12;
    const limitPercentage = 100;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = (props.scrollYPixels - startPixels) / 4;
      const opacityPercentage = props.getOpacityPercentage(
        startPercentage,
        limitPercentage
      );

      jobName.value.style.opacity = `${opacityPercentage}`;

      jobName.value.style.transform = `translateY(${pixelsToMove}px)`;
    } else if (props.scrollYPixels > limitPixels) {
      jobName.value.style.opacity = `0`;
    } else {
      jobName.value.style.opacity = `1`;
      jobName.value.style.transform = `translateY(0px)`;
    }
  }
});
</script>
