<template>
  <article id="shape" class="z-index-100 position-fixed">
    <article
      class="contact-button one"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>

    <article
      class="contact-button two"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>

    <article
      class="contact-button three"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>

    <article
      class="contact-button four"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>

    <article
      class="contact-button five"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>

    <article
      class="contact-button six"
      data-bs-toggle="modal"
      data-bs-target="#contactModal"
    >
      <img :src="SmartPhone" class="p-1" alt="contact" height="40" width="40" />
    </article>
  </article>

  <article
    class="modal fade"
    id="contactModal"
    tabindex="-1"
    aria-labelledby="contactModalLabel"
    aria-hidden="true"
  >
    <article class="modal-dialog modal-xl">
      <section class="modal-content rounded-0 dialog-bg">
        <header class="modal-header py-2 contact-modal-header">
          <h2 class="modal-title fw-bold text-dark" id="contactModalLabel">
            {{ t("header.contact") }}
          </h2>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </header>

        <main class="modal-body text-dark">
          <article>
            <span class="fw-bold">Emai:</span>
            edwindaniellanderossierra1213@gmail.com
          </article>

          <article>
            <span class="fw-bold">Phone number:</span>
            (+52) 81 2069 6670
          </article>

          <article class="m-0 row justify-content-center mt-3">
            <article class="col-4 d-flex justify-content-center gx-5">
              <a
                class="m-1 text-center p-0 col"
                href="https://www.linkedin.com/in/edwin-daniel-landeros-sierra-5498a6218/"
                target="_blank"
              >
                <img
                  :src="LinkedinIcon"
                  class="img-top"
                  alt="Icon Gitlab"
                  height="55"
                  width="55"
                />
              </a>

              <a
                class="m-1 text-center p-0 col"
                href="https://gitlab.com/EdwinSierraWeb"
                target="_blank"
              >
                <img
                  :src="GitlabIcon"
                  class="img-top"
                  alt="Icon Gitlab"
                  height="55"
                  width="55"
                />
              </a>
            </article>
          </article>

          <section class="d-flex flex-column align-items-center">
            <header>
              <h3 class="mb-4 mt-4 fw-bold text-dark">
                {{ t("contact.send_email") }}
              </h3>
            </header>

            <main class="col-xxl-3 col-lg-4 col-md-6 col-sm-8 col-12">
              <form @submit.prevent="submitForm">
                <BaseInput
                  :placeholder="t('contact.name')"
                  :type="'text'"
                  :autocomplete="true"
                  v-model:value="userInformation.name"
                />

                <BaseInput
                  :placeholder="t('contact.email')"
                  :type="'text'"
                  :icon="'bi bi-envelope-at-fill'"
                  :autocomplete="true"
                  v-model:value="userInformation.email"
                />

                <BaseInput
                  :textarea="true"
                  :placeholder="t('contact.message')"
                  :icon="'bi bi-chat-right-dots-fill'"
                  v-model:value="userInformation.message"
                />
              </form>
            </main>
          </section>
        </main>

        <footer class="modal-footer contact-modal-footer">
          <button
            type="button"
            class="btn rounded-0 bg-dark text-light"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button
            type="submit"
            class="btn rounded-0 bg-dark text-light"
            @click.prevent="submitForm"
          >
            {{ t("contact.submit") }}
          </button>
        </footer>
      </section>
    </article>
  </article>
</template>

<script setup>
import { reactive, onMounted } from "vue";
import { BaseInput, BaseButton } from "../base/base";
import { useI18n } from "vue-i18n";
import LinkedinIcon from "../../assets/img/socialMedia/linkedin.svg";
import GitlabIcon from "../../assets/img/socialMedia/gitlab.svg";
import { setDefaultTheme } from "../../shared/themes/themes";
import SmartPhone from "../../assets/img/smartphone.svg";

const { t } = useI18n();

const userInformation = reactive({
  name: "",
  email: "",
  message: "",
});

const submitForm = () => {
  const labels = {
    name: t("contact.name"),
    message: t("contact.message"),
  };

  if (!validate(labels.name, userInformation.name)) return;
  if (!validateEmail(userInformation.email)) return;
  if (!validate(labels.message, userInformation.message)) return;

  emailjs
    .send(
      "service_3jjpjkq",
      "template_u882fv4",
      userInformation,
      "HmKEtP1SJQJ-0rYJu"
    )
    .then(
      (result) => {
        Toastify({
          text: t("popup.success"),
          duration: 3000,
          gravity: "bottom",
          position: "left",
          className: "bg-light text-dark shadow-dark-sm rounded-0",
        }).showToast();
      },
      (error) => {
        Toastify({
          text: t("popup.failed"),
          duration: 3000,
          gravity: "bottom",
          position: "left",
          className: "bg-light text-dark shadow-dark-sm rounded-0",
        }).showToast();
      }
    );
};

const validate = (label, value) => {
  if (!value) {
    Toastify({
      text: `El campo ${label} es requerido.`,
      duration: 5000,
      gravity: "bottom",
      position: "left",
      className: "bg-light text-dark shadow-dark-sm rounded-0",
    }).showToast();

    return false;
  }

  return true;
};

const validateEmail = (value) => {
  const label_email = t("contact.email");
  if (!validate(label_email, value)) return false;

  const regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
  if (!regex.test(value)) {
    Toastify({
      text: t("popup.validate.email"),
      duration: 5000,
      gravity: "bottom",
      position: "left",
      className: "bg-light text-dark shadow-dark-sm rounded-0",
    }).showToast();

    return false;
  }

  return true;
};

onMounted(() => {
  setDefaultTheme();
});
</script>
