<template>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        Edwin Sierra Web - {{ new Date().getFullYear() }}
      </a>
    </div>
  </nav>
</template>

<script setup></script>
