<template>
  <nav
    class="header navbar navbar-expand-lg fixed-top shadow-dark-sm"
    :data-bs-theme="current_theme"
  >
    <div class="container-fluid">
      <a :href="'#' + ROUTER_NAMES.HOME" class="navbar-brand px-2 me-1">
        Edwin Sierra
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          <a
            :href="'#' + ROUTER_NAMES.ABOUT"
            class="nav-item mx-0 mx-lg-1 link-underline link-underline-opacity-0"
          >
            <span
              :class="currentRouteName == ROUTER_NAMES.ABOUT ? 'active' : ''"
              class="nav-link p-2"
            >
              {{ t("header.about") }}
            </span>
          </a>

          
          <a
            :href="'#' + ROUTER_NAMES.EXPERIENCE"
            class="nav-item mx-0 mx-lg-1 link-underline link-underline-opacity-0"
          >
            <span
              :class="
                currentRouteName == ROUTER_NAMES.EXPERIENCE ? 'active' : ''
              "
              class="nav-link p-2"
            >
              {{ t("header.experience") }}
            </span>
          </a>

          <a
            :href="'#' + ROUTER_NAMES.SKILLS"
            class="nav-item mx-0 mx-lg-1 link-underline link-underline-opacity-0"
          >
            <span
              :class="currentRouteName == ROUTER_NAMES.SKILLS ? 'active' : ''"
              class="nav-link p-2"
            >
              {{ t("header.skills") }}
            </span>
          </a>

          <a
            :href="'#' + ROUTER_NAMES.OTHERS"
            class="nav-item mx-0 mx-lg-1 link-underline link-underline-opacity-0"
          >
            <span
              :class="currentRouteName == ROUTER_NAMES.OTHERS ? 'active' : ''"
              class="nav-link p-2"
            >
              {{ t("header.others") }}
            </span>
          </a>
        </ul>

        <ul class="me-auto mb-2 mb-lg-0 px-2">
          <button
            class="btn p-0 border-0 w-auto"
            type="button"
            @click="switchLanguage"
          >
            <img
              v-if="locale === ENGLISH"
              class="img-fluid"
              :src="SvgUnitedKingdom"
              alt="country-language"
              width="35"
            />

            <img
              v-else
              class="img-fluid"
              :src="SvgSpain"
              alt="country-language"
              width="35"
            />
          </button>
        </ul>

        <ul class="navbar-nav">
          <CheckboxTheme
            @checked="setCurrentTheme"
            class="align-self-center m-2 me-lg-2 me-auto"
          />

          <a
            :href="'#' + ROUTER_NAMES.CONTACT"
            class="nav-item link-underline link-underline-opacity-0 ms-lg-1"
          >
            <span
              :class="currentRouteName == ROUTER_NAMES.CONTACT ? 'active' : ''"
              class="nav-link p-2"
            >
              {{ t("header.contact") }}
            </span>
          </a>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { ref, watch } from "vue";
import { useRoute } from "vue-router";
import { useI18n } from "vue-i18n";
import translations from "../i18n/translations";
import SvgSpain from "../assets/img/countries/Spain.svg";
import SvgUnitedKingdom from "../assets/img/countries/UnitedKingdom.svg";
import CheckboxTheme from "./utils/CheckboxTheme.vue";
import { getLocalTheme } from "../shared/themes/themes";
import { THEMES } from "../shared/JSON/json";

let current_theme = ref("");

const { t, locale } = useI18n();

const ROUTER_NAMES = {
  EXPERIENCE: "experience",
  HOME: "home",
  ABOUT: "about",
  SKILLS: "skills",
  OTHERS: "others",
  CONTACT: "contact",
};

const ENGLISH = "en";
const SPANISH = "es";

const route = useRoute();
let currentRouteName = ref("");

const switchLanguage = async () => {
  let newLocale = "";

  if (locale.value == ENGLISH) newLocale = SPANISH;
  else newLocale = ENGLISH;

  await translations.switchLanguage(newLocale);
};

const setCurrentTheme = (value) => {
  if (value) {
    current_theme.value = THEMES.LIGHT;
  } else {
    current_theme.value = THEMES.DARK;
  }
};

watch(
  route,
  () => {
    currentRouteName.value = route.name;
  },
  { deep: true, immediate: true }
);
</script>
