<template>
  <article
    ref="experienceDetailsButton"
    class="nav position-fixed flex-row nav-pills position-absolute top-0 z-index-50 mx-md-3 mt-md-3 mx-2 mt-2"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="btn bg-transparent text-light skill shadow-light-sm rounded-0 active px-md-3 px-2"
      id="v-pills-responsabilities-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-responsabilities"
      type="button"
      role="tab"
      aria-controls="v-pills-responsabilities"
      aria-selected="true"
    >
      <span class="button-large">
        {{ t("experience.responsabilities") }}
      </span>

      <span class="button-small"> RESP. </span>
    </button>

    <button
      class="btn bg-transparent text-light skill shadow-light-sm rounded-0 px-md-3 px-2"
      id="v-pills-accomplishment-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-accomplishment"
      type="button"
      role="tab"
      aria-controls="v-pills-accomplishment"
      aria-selected="false"
    >
      <span class="button-large">
        {{ t("experience.key_accomplishments") }}
      </span>

      <span class="button-small"> ACCOM. </span>
    </button>
  </article>

  <article
    class="w-100 h-auto position-fixed text-dark z-index-25 d-flex align-items-center justify-content-start"
  >
    <article
      class="d-flex justify-content-start flex-column w-100 h-100 align-items-center position-relative mt-md-2"
    >
      <article
        ref="experienceTitle"
        class="w-auto h-auto z-index-50 d-flex align-items-center justify-content-start flex-column px-md-3 px-2 mt-5"
      >
        <section class="text-light mt-md-3 mt-2">
          <h3 class="bg-dark px-3 py-1 fw-bold text-uppercase mb-0">
            {{ t("header.experience") }}
          </h3>
          <h5 class="bg-dark px-3 py-1 fw-bold pb-2">
            {{ t("experience.company") }}
          </h5>
        </section>
      </article>

      <article
        ref="jobDetails"
        class="tab-content col-xxl-6 col-lg-7 col-md-10 col-11"
        id="v-pills-tabContent"
      >
        <div
          class="tab-pane fade show active"
          id="v-pills-responsabilities"
          role="tabpanel"
          aria-labelledby="v-pills-responsabilities-tab"
          tabindex="0"
        >
          <ul class="ps-3">
            <li>{{ t("experience.responsability_1") }}</li>
            <li>{{ t("experience.responsability_2") }}</li>
            <li>{{ t("experience.responsability_3") }}</li>
            <li>{{ t("experience.responsability_4") }}</li>
            <li>{{ t("experience.responsability_5") }}</li>
            <li>{{ t("experience.responsability_6") }}</li>
            <li>{{ t("experience.responsability_7") }}</li>
            <li>{{ t("experience.responsability_8") }}</li>
            <li>{{ t("experience.responsability_9") }}</li>
          </ul>
        </div>

        <div
          class="tab-pane fade"
          id="v-pills-accomplishment"
          role="tabpanel"
          aria-labelledby="v-pills-accomplishment-tab"
          tabindex="0"
        >
          <ul class="ps-3">
            <li>{{ t("experience.key_accomplishment_1") }}</li>
            <li>{{ t("experience.key_accomplishment_2") }}</li>
            <li>{{ t("experience.key_accomplishment_3") }}</li>
            <li>{{ t("experience.key_accomplishment_4") }}</li>
            <li>{{ t("experience.key_accomplishment_5") }}</li>
            <li>{{ t("experience.key_accomplishment_6") }}</li>
            <li>{{ t("experience.key_accomplishment_7") }}</li>
            <li>{{ t("experience.key_accomplishment_8") }}</li>
            <li>{{ t("experience.key_accomplishment_9") }}</li>
            <li>{{ t("experience.key_accomplishment_10") }}</li>
            <li>{{ t("experience.key_accomplishment_11") }}</li>
            <li>{{ t("experience.key_accomplishment_12") }}</li>
            <li>{{ t("experience.key_accomplishment_13") }}</li>
            <li>{{ t("experience.key_accomplishment_14") }}</li>
          </ul>
        </div>
      </article>
    </article>
  </article>
</template>

<script setup>
import { useI18n } from "vue-i18n";
import { ref, watchEffect } from "vue";
import { getScreenPixelsByPercentage } from "../../shared/helpers/screenPixels";

const emit = defineEmits(["setCameraPosition", "setCameraRotation"]);
const props = defineProps({
  scrollYPixels: Number,
  getOpacityPercentage: Function,
});

const { t } = useI18n();

const experienceDetailsButton = ref(null);
const experienceTitle = ref(null);
const jobDetails = ref(null);
const experienceBody = ref(null);

const emitPosition = (x, y, z) => {
  emit("setCameraPosition", x, y, z);
};

const emitRotation = (x, y, z) => {
  emit("setCameraRotation", x, y, z);
};

const startPercentage = 300;
const limitPercentage = 400;
const startExperienceBodyPixels = getScreenPixelsByPercentage(startPercentage);
const endExperienceBodyPixels = getScreenPixelsByPercentage(limitPercentage);

const handleScroll = (event) => {
  const isAtBottom =
    experienceBody.value.scrollTop + experienceBody.value.clientHeight >=
    experienceBody.value.scrollHeight;
  const isAtTop = experienceBody.value.scrollTop === 0;

  if ((isAtBottom && event.deltaY > 0) || (isAtTop && event.deltaY < 0)) {
    event.preventDefault();

    window.scrollBy(0, event.deltaY);
  }
};

watchEffect(() => {
  const startPercentage = 400;
  const limitPercentage = 500;
  const startPixels = getScreenPixelsByPercentage(startPercentage);
  const limitPixels = getScreenPixelsByPercentage(limitPercentage);

  const oldPosition = { x: -19.03, y: 19, z: -42 };
  const oldRotation = { x: -0.1, y: 0, z: 0 };

  const newPosition = { x: 32, y: 38, z: -29.6 };
  const newRotation = { x: 0.1, y: -Math.PI / 2, z: 0 };

  if (props.scrollYPixels > startPixels && props.scrollYPixels <= limitPixels) {
    const scrollPercentageReverse = props.getOpacityPercentage(
      startPercentage,
      limitPercentage
    );

    const scrolledPercentage = (1 - scrollPercentageReverse) * 100;

    // camera.position.set(32, 38, -29.6);
    // camera.rotation.set(0.1, -Math.PI / 2, 0);

    const totalXPositionToMove = (oldPosition.x - newPosition.x) / 100;
    const XPositionToMove = scrolledPercentage * totalXPositionToMove;
    const XPosition = oldPosition.x - XPositionToMove;

    const totalYPositionToMove = (oldPosition.y - newPosition.y) / 100;
    const YPositionToMove = scrolledPercentage * totalYPositionToMove;
    const YPosition = oldPosition.y - YPositionToMove;

    const totalZPositionToMove = (oldPosition.z - newPosition.z) / 100;
    const ZPositionToMove = scrolledPercentage * totalZPositionToMove;
    const ZPosition = oldPosition.z - ZPositionToMove;

    emitPosition(XPosition, YPosition, ZPosition);

    const totalXRotationToMove = (oldRotation.x - newRotation.x) / 100;
    const XRotationToMove = scrolledPercentage * totalXRotationToMove;
    const XRotation = oldRotation.x - XRotationToMove;

    const totalYRotationToMove = (oldRotation.y - newRotation.y) / 100;
    const YRotationToMove = scrolledPercentage * totalYRotationToMove;
    const YRotation = oldRotation.y - YRotationToMove;

    emitRotation(XRotation, YRotation, 0);
  }

  const limitPercentage2 = 300;
  const limitPixels2 = getScreenPixelsByPercentage(limitPercentage2);

  if (
    props.scrollYPixels > limitPixels2 &&
    props.scrollYPixels <= startPixels
  ) {
    emitPosition(-19.03, 19, -42);
    emitRotation(-0.1, 0, 0);
  }

  if (experienceTitle.value) {
    const startPercentage = 275;
    const limitPercentage = 400;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 300;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = -props.scrollYPixels + startPixels + 250;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      experienceTitle.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove >= 0) {
        experienceTitle.value.style.transform = `translateX(${pixelsToMove}px)`;
      }

      if (pixelsToMove < 0) {
        experienceTitle.value.style.transform = `translateX(0px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
      experienceTitle.value.style.opacity = `0`;
    } else {
      experienceTitle.value.style.opacity = `0`;
      experienceTitle.value.style.transform = `translateX(${250}px)`;
    }
  }

  if (jobDetails.value) {
    const startPercentage = 278;
    const limitPercentage = 400;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 300;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = -props.scrollYPixels + startPixels + 250;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      jobDetails.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove >= 0) {
        jobDetails.value.style.transform = `translateY(${pixelsToMove}px)`;
      }

      if (pixelsToMove < 0) {
        jobDetails.value.style.transform = `translateY(0px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
      jobDetails.value.style.opacity = `0`;
    } else {
      jobDetails.value.style.opacity = `0`;
      jobDetails.value.style.transform = `translateY(${250}px)`;
    }
  }

  if (experienceDetailsButton.value) {
    const startPercentage = 278;
    const limitPercentage = 400;
    const startPixels = getScreenPixelsByPercentage(startPercentage);
    const limitPixels = getScreenPixelsByPercentage(limitPercentage);

    const opacityPercentageLimit = 300;
    if (
      props.scrollYPixels >= startPixels &&
      props.scrollYPixels <= limitPixels
    ) {
      const pixelsToMove = props.scrollYPixels - startPixels - 50;
      const opacityPercentageReversed = props.getOpacityPercentage(
        startPercentage,
        opacityPercentageLimit
      );
      const opacityPercentage = 1 - opacityPercentageReversed;

      experienceDetailsButton.value.style.opacity = `${opacityPercentage}`;

      if (pixelsToMove <= 0) {
        experienceDetailsButton.value.style.transform = `translateY(${pixelsToMove}px)`;
      }

      if (pixelsToMove > 0) {
        experienceDetailsButton.value.style.transform = `translateY(0px)`;
      }
    } else if (props.scrollYPixels > limitPixels) {
      experienceDetailsButton.value.style.opacity = `0`;
    } else {
      experienceDetailsButton.value.style.opacity = `0`;
      experienceDetailsButton.value.style.transform = `translateY(${-50}px)`;
    }
  }
});
</script>

<style>
/* Hide small screen button on large screens */
.button-small {
  display: none;
}

/* Hide large screen button on small screens */
.button-large {
  display: none;
}

/* Show the appropriate button based on screen width */
@media (max-width: 425px) {
  .button-small {
    display: inline-block;
  }
}

@media (min-width: 425px) {
  .button-large {
    display: inline-block;
  }
}
</style>
