<template>
  <label class="switch">
    <input
      name="theme"
      type="checkbox"
      @input="toggleTheme"
      :checked="checked"
    />
    <span class="slider"></span>
  </label>
</template>

<script setup>
import { ref, onMounted, watch } from "vue";
import { THEMES } from "../../shared/JSON/json";
import { setTheme, getLocalTheme } from "../../shared/themes/themes";

const emit = defineEmits(["checked"]);

let checked = ref(false);

const toggleTheme = ({ target }) => {
  checked.value = target.checked;

  if (checked.value) {
    setTheme(THEMES.LIGHT);
  } else {
    setTheme(THEMES.DARK);
  }
};

const setCheckedByTheme = () => {
  const theme = getLocalTheme();
  if (!theme) return true;

  if (theme === THEMES.LIGHT) {
    return true;
  } else {
    return false;
  }
};

watch(checked, () => {
  emit("checked", checked.value);
});

onMounted(() => {
  checked.value = setCheckedByTheme();

  emit("checked", checked.value);
});
</script>

<style>
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.3em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #000000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
  border: 0px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  left: 6%;
  bottom: 7%;
  box-shadow: inset 8px -4px 0px 0px #fff;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #000;
}
</style>
