<template>
  <!-- <article
    ref="mouse"
    class="mouse position-absolute p-3 bg-warning rounded-5"
  ></article> -->
</template>

<script setup>
import { ref, onMounted, watchEffect } from "vue";

onMounted(() => {
  window.addEventListener("scroll", setScrollY);
  window.addEventListener("scrollend", (e) => setIsScrolling(false));
});

const mouse = ref();
const scrollY = ref(0);
const position = ref({});
const isScrolling = ref(false);

const setPosition = (event) => {
  position.value.y = event.clientY;
  position.value.x = event.clientX;
};

const setIsScrolling = (value) => {
  isScrolling.value = value;
};

const setScrollY = () => {
  setIsScrolling(true);

  scrollY.value = window.scrollY;
};

watchEffect(() => {
  if (mouse.value) {
    if (isScrolling.value) {
      mouse.value.style.opacity = "0";

      mouse.value.style.transform = `translate3d(${position.value.x - 15}px, ${
        position.value.y + scrollY.value - 15
      }px, 0)`;
    } else {
      mouse.value.style.opacity = "0.40";

      mouse.value.style.transform = `translate3d(${position.value.x - 15}px, ${
        position.value.y + scrollY.value - 15
      }px, 0)`;
    }
  }
});

defineExpose({
  setPosition,
  setScrollY,
});
</script>

<style>
.mouse {
  pointer-events: none;
}
</style>
