#about {
  .dot {
    top: 10%;
    left: 80%;
    
    position: absolute;
    width: 250px;
    height: 250px;
    background: radial-gradient(
      circle,
      rgba(251, 141, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
  }

  .dot2 {
    top: 35%;
    left: 5%;
    
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
  }

  .dot3 {
    top: 77%;
    left: 70%;
    
    position: absolute;
    width: 125px;
    height: 125px;
    background: radial-gradient(
      circle,
      rgba(141, 152, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
  }
}
