@include media-breakpoint-down(md) {
  .fs-gigant {
    font-size: 8.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .fs-gigant {
    font-size: 6.3rem;
  }
}

@include media-breakpoint-down(ssm) {
  .fs-gigant {
    font-size: 4.35rem;
  }
}

@include media-breakpoint-down(sssm) {
  .fs-gigant {
    font-size: 3rem;
  }
}

@include media-height-breakpoint-down(lg) {
  .fs-gigant {
    font-size: 8rem;
  }
}

@include media-height-breakpoint-down(md) {
  .fs-gigant {
    font-size: 6rem;
  }
}

@include media-height-breakpoint-down(sm) {
  .fs-gigant {
    font-size: 4rem;
  }
}
