#shape {
  position: relative;
  top: 30px;
  right: 30px;
  margin: 0 auto;
  width: 40px;
  height: 40px;

  animation: spin 10s infinite linear;
  transform-style: preserve-3d;

  .contact-button {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: -webkit-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    backdrop-filter: blur(1px);
    background-color: rgba($white, 0.25);
    cursor: pointer;
    border: 1px solid $white;
  }

  .one {
    transform: rotateX(90deg) translateZ(20px);
  }

  .two {
    transform: translateZ(20px);
  }

  .three {
    transform: rotateY(90deg) translateZ(20px);
  }

  .four {
    transform: rotateY(180deg) translateZ(20px);
  }

  .five {
    transform: rotateY(-90deg) translateZ(20px);
  }

  .six {
    transform: rotateX(-90deg) translateZ(20px);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}

.dialog-bg {
  backdrop-filter: blur(15px);
  background-color: rgba($white, 0.5);
}


.contact-modal-footer {
  border-top: 1px solid $dark;
}

.contact-modal-header {
  border-bottom: 1px solid $dark;
}