.home {
  background-size: 600% 600%;
  animation: main 12s infinite ease;
  background-image: linear-gradient(
    90deg,
    rgb(254, 172, 94),
    rgb(199, 121, 208),
    rgb(75, 192, 200)
  );
}

#wave2 {
  animation: wave2 9s infinite linear;
}
