#skills {
  background: linear-gradient(135deg, rgba(241, 186, 255, 1), $white);
}

.skill {
  backdrop-filter: blur(12px);
  background-color: rgba($white, 0.25);
  transition: all 0.4s, filter .4s;
  
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
