.shadow-light-sm {
  box-shadow: 0 0.125rem 0.25rem rgba($light, 0.075);
}

.shadow-dark-sm {
  box-shadow: 0 0.125rem 0.25rem rgba($dark, 0.075);
}

.z-index-0 {
  z-index: 0;
}

.z-index-25 {
  z-index: 25;
}

.z-index-50 {
  z-index: 50;
}

.z-index-75 {
  z-index: 75;
}

.z-index-100 {
  z-index: 100;
}

.text-light {
  color: $light !important;
}

.text-dark {
  color: $dark !important;
}

.text-blue {
  color: rgb(0, 0, 22);
}

.bg-light {
  background: $light !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-purple {
  background-color: rgb(8, 0, 22);
}

.bg-blue {
  background-color: rgb(0, 0, 22);
}

.bg-yellow {
  background-color: rgb(250, 213, 165);
}

.border-dark {
  border: 1px solid $dark !important;
}

.rezise-none {
  resize: none;
}

.fs-10 {
  font-size: 3rem;
}

.hover-opacity {
  transition: opacity 120ms;
}

.hover-opacity:hover {
  opacity: 55%;
}

.fsf-rem-9 {
  font-size: 9rem;
}

.fs-gigant {
  font-size: 9rem;
}

.pt-header {
  padding-top: 56px;
}

.rubberBand:hover {
  animation: 0.7s rubberBand ease-in-out;
}

.mouse {
  transform: translateX(15);
  z-index: 10000;
}

.color {
  background: #d3f5ff;
}
