$light: rgb(238, 238, 238);
$dark: rgb(2, 2, 2);

$white: rgb(255, 255, 255);

$grid-breakpoints: (
  xs: 0,
  sssm: 200px,
  ssm: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$grid-height-breakpoints: (
  xxs: 100,
  xs: 200,
  sm: 300,
  md: 400px,
  lg: 500px,
  xl: 600px,
  xxl: 700px,
) !default;
