* {
  font-family: Ubuntu, sans-serif;
  scroll-behavior: smooth;
  // cursor: none;
}

*::-webkit-scrollbar {
  background: transparent;
  height: 0;
  width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.height-100 {
  height: 100dvh !important;
}

@import "./variables";
@import "./mixins";
@import "./animations/animations";
@import "./utils";
@import "./breakpoints";

@import "./header";
@import "./main";
@import "./home";
@import "./about";
@import "./experience";
@import "./skills";
@import "./others";
@import "./contact";
